.container{
    background-color:oldlace;
}
    .red{
        background-color:lightcoral;
    }   
    .green{
        background-color:green;
    }
    .blue {
        background-color:lightblue;
    }
    .yellow{
        background-color:lightgoldenrodyellow;
    }   
    .cyan{
        background-color:darkturquoise;
    }   
    .purple{
        background-color:plum;
    }   
    .floater-section {
        float: left;
        width: 100%;
        min-height: 200px;
        margin-bottom: 20px;
    }
    .clearfix{
clear:both;
    }
/**SMALL SCREENS**/
    @media (min-width: 450px){
/**.floater-section{
    width: 50%;
}**/
.small-width-25 {
    width:25%;
}
.small-width-33 {
    width:33.33%;
}
.small-width-50 {
    width:50%;
}
.small-width-100 {
    width:100%;
}
    }
/**MEDIUM SCREENS**/    
    @media(min-width: 768px){
/**        .floater-section{
            width:33.333%;
        }**/
        .med-width-25 {
            width:25%;
        }
        .med-width-33 {
            width:33.33%;
        }
        .med-width-50 {
            width:50%;
        }
        .med-wdith-100 {
            width:100%;
        }
      
/**LARGE SCREENS**/
    @media(min-width: 992px){
/**        .floater-section{
            width: 25%;

        }
**/
        .large-width-25 {
        width:25%;
}
        .large-width-33 {
            width:33.33%;
        }

        .large-width-50 {
            width:50%;
        }
        
        .large-width-100 {
            width:100%;
        }
    }
    }