body{
    margin:0px;

}
nav{
    background-color: lightsteelblue;
    color:black;
}
ul{
    padding-left:0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li{
    margin: 5px 10px;
    background-color:rgb(255, 255, 255);
}

li#home {
    order:0;

}

@media(min-width: 768px){
    ul {
        flex-direction: row;
    }
}

li#home {
    order:1;
    flex-grow: 2;
}

li:nth-last-child(2) {
    order:2;

}

lin:nth-last-child(1){
    order:3;
}