body {
    margin: 0px;
}
.container {
background-color:darkred;
width: 100%;
min-height: 300px;
}

img {max-width:100%; height:auto;margin:0 auto;display: block;} /*responsive code 
for images so they adapt inside the container*/

/*nav styles*/
nav.navbar {
    background-color: darkseagreen;
    width: 100%;
    padding: 10px 0px;
}

nav.navbar ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
nav.navbar li {
border-bottom: 2px solid darkred;
display: inline-block;
}
nav.navbar li:last-child {
border-bottom: none;
} 
nav.navbar a {
    font-size:22px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(0, 21, 139);
}
a:link {text-decoration:none;}
nav a:link  {background-color:aliceblue;color:none;display:block;padding: 5px;}
a:hover {background-color:white; color:black;}
a:active {background-color:blueviolet; color:yellow;} 
/*.active {
    font-weight: 700;
}
*/
/*--this section is for the point breaks*/
@media(min-width: 768px){
    .container {
        background-color:dodgerblue;
        width:750px;
        margin: 0px auto;
        }
        
        nav.navbar li {
            display: inline-block;
    }
}
@media(min-width: 992px){
    .container{
        width: 960px;
        background-color: plum;
    }
}
@media(min-width: 1200px){
    .container {
        background-color: lightcyan;
        width: 800px;
        margin: 0px auto;
        }