/* .content -------------------------------------*/
.content {
   
    position: relative;
    color:white;
}


.content .img-container {
    min-height: 160px;
}

.content img {
    max-width:100%;
}

.content .abs-pos {
    position: relative;
}

table {
    background: white;
    width: 240px;
    border-collapse: separate;
    margin: 125px;
    height: 250px;
  }
  
  table td {
    background: black;
    color: white;
    padding: 20px;
    border: 10px solid white;
    /* default is vertical-align: middle; */
  }
  
  .center-table {
    display: table;
    height: 250px;
    background: white;
    width: 240px;
    margin: 20px;
    transform: translate(50%);
  }
  .center-table p {
    display: table-cell;
    margin: 0;
    background: black;
    color: white;
    padding: 20px;
    border: 10px solid white;
    vertical-align: middle;
  }

  .parent {
    position: relative;
  }
  .child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  main {
    background: white;
    height: 300px;
    margin: 20px;
    width: 300px;
    position: relative;
    resize: vertical;
    overflow: auto;
  }
  
  main div {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
    overflow: auto;
  }

/* color section----------------------------------*/
.red{
    background-color:lightcoral;
}   
.black{
    background-color: black;
}
.grey{
    background-color: grey;
}
.green{
    background-color:green;
}
.blue {
    background-color:lightblue;
}
.yellow{
    background-color:lightgoldenrodyellow;
}   
.cyan{
    background-color:darkturquoise;
}   
.purple{
    background-color:plum;
}   
#verCenter1 {
    position: relative;
    height:200px;
}

#vertCenter1,
#vertCenter2,
#vertHorizCenter1 {
    height: 200px;
}

#vertHorizCenter2 {
    height: 400px;
}

#vertCenter1 img {
    position: absolute;
    height: 100px; /* because we need to calculate the margin */
    margin-top: -50px;
    top: 50%;
    margin-left: -50px;
    left: 50%;
    display: block;
}

#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px; /* MARGINS affect the centering in this method! */
}



#verHorizCenter1 h2 {
    position: absolute;
    top:50%;
    left:50%;
    padding:30px;

    /*Half the width accounting for pading and border*/
    margin-left: -159px;
    width: 258px;

    /*Half the height accounting for padding and border*/
    margin-top:-44px;
}

#verHorizCenter1 h2 p {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    margin: 0px;
    text-align: justify;

}